.contentContainer {
	display: flex;

	justify-content: space-between;

	margin: 0 2.105%;
	margin-bottom: 1.49%;
}
.additionalInfo {
	display: flex;

	justify-content: space-between;

	margin-top: 5%;
}
.allMoodContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media screen and (max-width: 600px) {
	.contentContainer {
		display: block;

		margin: 0;
	}
	.additionalInfo {
		display: block;

		margin-top: 0;
	}
}
