.logoContainer {
	position: relative;

	width: 17.5vw;
	min-height: 42.05vh;

	border: solid black 1px;
	border-radius: 20px;

	overflow: hidden;
}
.svgLogo {
	position: absolute;

	bottom: -1%;
	right: -1%;
}
@media screen and (max-width: 600px) {
	.logoContainer {
		position: relative;

		width: 100%;
		min-height: 0;
		height: 337.45px;

		border: none;
		border-radius: 0;

		overflow: hidden;
	}
	.svgLogo {
		position: absolute;

		bottom: -1%;
		right: -1%;
	}
}
